USE [master]
GO
/****** Object:  Database [EntityFrameworkPractice]    Script Date: 10/11/2025 11:30:50 ******/
CREATE DATABASE [EntityFrameworkPractice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EntityFrameworkPractice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\EntityFrameworkPractice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EntityFrameworkPractice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\EntityFrameworkPractice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EntityFrameworkPractice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EntityFrameworkPractice]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/11/2025 11:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actores]    Script Date: 10/11/2025 11:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Edad] [int] NOT NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
 CONSTRAINT [PK_Actores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActorPelicula]    Script Date: 10/11/2025 11:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActorPelicula](
	[ActoresId] [int] NOT NULL,
	[PeliculasId] [int] NOT NULL,
 CONSTRAINT [PK_ActorPelicula] PRIMARY KEY CLUSTERED 
(
	[ActoresId] ASC,
	[PeliculasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 10/11/2025 11:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Contenido] [nvarchar](500) NOT NULL,
	[PeliculaId] [int] NOT NULL,
 CONSTRAINT [PK_Comentarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneroPelicula]    Script Date: 10/11/2025 11:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneroPelicula](
	[GenerosID] [int] NOT NULL,
	[PeliculasId] [int] NOT NULL,
 CONSTRAINT [PK_GeneroPelicula] PRIMARY KEY CLUSTERED 
(
	[GenerosID] ASC,
	[PeliculasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 10/11/2025 11:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Generos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 10/11/2025 11:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Duracion] [int] NOT NULL,
	[Pais] [nvarchar](100) NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Peliculas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250714002136_CreateTables', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250717213236_CreateTables2', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250717213958_AddRelations', N'9.0.7')
GO
SET IDENTITY_INSERT [dbo].[Actores] ON 

INSERT [dbo].[Actores] ([Id], [Nombre], [Edad], [Fecha_Nacimiento]) VALUES (2, N'Tom Holland', 28, CAST(N'2025-07-20' AS Date))
SET IDENTITY_INSERT [dbo].[Actores] OFF
GO
SET IDENTITY_INSERT [dbo].[Generos] ON 

INSERT [dbo].[Generos] ([ID], [Nombre]) VALUES (2, N'Comedia')
INSERT [dbo].[Generos] ([ID], [Nombre]) VALUES (4, N'Acción')
INSERT [dbo].[Generos] ([ID], [Nombre]) VALUES (5, N'Ciencia Ficcion')
SET IDENTITY_INSERT [dbo].[Generos] OFF
GO
SET IDENTITY_INSERT [dbo].[Peliculas] ON 

INSERT [dbo].[Peliculas] ([Id], [Duracion], [Pais], [Titulo]) VALUES (1, 128, N'EEUU', N'Spiderman')
SET IDENTITY_INSERT [dbo].[Peliculas] OFF
GO
/****** Object:  Index [IX_ActorPelicula_PeliculasId]    Script Date: 10/11/2025 11:30:51 ******/
CREATE NONCLUSTERED INDEX [IX_ActorPelicula_PeliculasId] ON [dbo].[ActorPelicula]
(
	[PeliculasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comentarios_PeliculaId]    Script Date: 10/11/2025 11:30:51 ******/
CREATE NONCLUSTERED INDEX [IX_Comentarios_PeliculaId] ON [dbo].[Comentarios]
(
	[PeliculaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GeneroPelicula_PeliculasId]    Script Date: 10/11/2025 11:30:51 ******/
CREATE NONCLUSTERED INDEX [IX_GeneroPelicula_PeliculasId] ON [dbo].[GeneroPelicula]
(
	[PeliculasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actores] ADD  DEFAULT ('0001-01-01') FOR [Fecha_Nacimiento]
GO
ALTER TABLE [dbo].[Comentarios] ADD  DEFAULT ((0)) FOR [PeliculaId]
GO
ALTER TABLE [dbo].[ActorPelicula]  WITH CHECK ADD  CONSTRAINT [FK_ActorPelicula_Actores_ActoresId] FOREIGN KEY([ActoresId])
REFERENCES [dbo].[Actores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActorPelicula] CHECK CONSTRAINT [FK_ActorPelicula_Actores_ActoresId]
GO
ALTER TABLE [dbo].[ActorPelicula]  WITH CHECK ADD  CONSTRAINT [FK_ActorPelicula_Peliculas_PeliculasId] FOREIGN KEY([PeliculasId])
REFERENCES [dbo].[Peliculas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActorPelicula] CHECK CONSTRAINT [FK_ActorPelicula_Peliculas_PeliculasId]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Peliculas_PeliculaId] FOREIGN KEY([PeliculaId])
REFERENCES [dbo].[Peliculas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Peliculas_PeliculaId]
GO
ALTER TABLE [dbo].[GeneroPelicula]  WITH CHECK ADD  CONSTRAINT [FK_GeneroPelicula_Generos_GenerosID] FOREIGN KEY([GenerosID])
REFERENCES [dbo].[Generos] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GeneroPelicula] CHECK CONSTRAINT [FK_GeneroPelicula_Generos_GenerosID]
GO
ALTER TABLE [dbo].[GeneroPelicula]  WITH CHECK ADD  CONSTRAINT [FK_GeneroPelicula_Peliculas_PeliculasId] FOREIGN KEY([PeliculasId])
REFERENCES [dbo].[Peliculas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GeneroPelicula] CHECK CONSTRAINT [FK_GeneroPelicula_Peliculas_PeliculasId]
GO
USE [master]
GO
